{{#if shouldShowReason}}
<div class="suggestion-image">
  <img class="leaderboard__items__item__image" alt="{{username}} title=" {{username}} src="{{image}}" />
</div>
<div class="suggestion-content">
  <p class="suggestion-content__name">{{username}}</p>
  <p class="suggestion-content__reason">{{reason}}</p>
</div>
{{else}}
<img class="leaderboard__items__item__image" alt="{{username}} title=" {{username}} src="{{image}}" />
<p class="leaderboard__items__item__username">{{username}}</p>
<p class="leaderboard__items__item__count">{{count}}</p>
{{/if}}
