<img class="leaderboard__items__item__image" alt="{{username}} title=" {{username}} src="{{image}}" />
<p class="leaderboard__items__item__username">{{username}}</p>
<p class="leaderboard__items__item__count">{{count}}</p>
